body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: #222;
    border-bottom: 2px solid #444;
}

header h1 {
    font-size: 3em;
    margin: 0;
    color: #ff0;
}

header p {
    font-size: 1.2em;
    color: #ccc;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ff0;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff0;
}

section p {
    font-size: 1.2em;
    color: #ccc;
    margin: 0 auto;
    max-width: 600px;
}
/*Galeria*/
.gallery-container {
    padding: 20px;
}

h2 {
    text-align: left;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f0f0f0;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-item {
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.gallery-info {
    padding: 15px;
    background-color: #252525;
    text-align: left;
}

.gallery-info h3 {
    margin: 0;
    font-size: 1.5em;
    color: #ffcc00;
}

.gallery-info p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #cccccc;
}

.gallery-item:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    border-top: 2px solid #444;
    color: #ccc;

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Personajes*/
.personajes {

    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
}
.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    flex-grow: 1; 
}
.feature-card {
    background-color: #252525;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.feature-card:hover {
    transform: scale(1.05);
}
.feature-card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #ffcc00;
}
.feature-card p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #cccccc;
}
.play-section {
    text-align: center;
}
.play-button:hover {
    background-color: #ffb84d;
}
h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ff0;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.character-grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.character-card {
    background-color: #252525;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s;
}

.character-card:hover {
    transform: scale(1.05);
}

.character-image {
    text-align: center;
    margin-bottom: 10px;
}

.character-image img {
    max-width: 100%;
    border-radius: 8px;
}

.character-info {
    text-align: center;
}

.character-info h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #ffb84d;
}

.character-info p {
    font-size: 1em;
    color: #cccccc;
}

